{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        {% comment %}
            Definimos uma miniatura de imagem com uma largura fixa em 300 pixels e uma
            altura flexível para manter a proporção de tela (aspect ratio), usando o valor 0. Na
            primeira vez em que um usuário carregar essa página, uma imagem em miniatura
            será criada. A miniatura será armazenada no mesmo diretório do arquivo original.
            A localização é definida pelo parâmetro MEDIA_ROOT e pelo atributo upload_to do campo image do modelo Image.
        {% endcomment %}

        <img src="{% thumbnail image.image 300x0 %}" class="image-detail" />
    </a>

    {% comment %}
        Sempre que você tiver de repetir uma consulta em seu template, utilize a tag
        de template {% with %} para evitar consultas adicionais no banco de dados.
    {% endcomment %}
    
    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} like{{ total_likes|pluralize }}
                </span>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}" />
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}