{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        {% comment %}
            Definimos uma miniatura de imagem com uma largura fixa em 300 pixels e uma
            altura flexível para manter a proporção de tela (aspect ratio), usando o valor 0. Na
            primeira vez em que um usuário carregar essa página, uma imagem em miniatura
            será criada. A miniatura será armazenada no mesmo diretório do arquivo original.
            A localização é definida pelo parâmetro MEDIA_ROOT e pelo atributo upload_to do campo image do modelo Image.
        {% endcomment %}

        <img src="{% thumbnail image.image 300x0 %}" class="image-detail" />
    </a>

    {% comment %}
        Sempre que você tiver de repetir uma consulta em seu template, utilize a tag
        de template {% with %} para evitar consultas adicionais no banco de dados.
    {% endcomment %}
    
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>

                <span class="count">
                    {{ total_views }} view{{ total_views|pluralize }}
                </span>

                {% comment %}
                    Qualquer atributo em qualquer elemento HTML cujo nome comece
                    com data- é um atributo de dado. Atributos de dados são usados para
                    armazenar dados personalizados em sua aplicação.
                {% endcomment %}
                <a 
                    href="#"
                    data-id="{{ image.id }}"
                    data-action="{% if request.user in users_like %}un{% endif %}like"
                    class="like button"
                >
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in users_like %}
                <div>
                    <img src="{{ user.profile.photo.url }}" />
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
$('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // alterna data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          
          // alterna o texto do link
          $('a.like').text(previous_action == 'like' ? 'Unlike' :
          'Like');

          // atualiza o total de likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        
        }
      }
    );
  });
{% endblock %}